@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #393e46;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222831;
}
a {
  color: white;
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #222831;
}
.tabsContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 500px;
}
.tab {
  display: flex;
  color: white;
  border-bottom: 2px solid rgb(255, 98, 0);
  border-radius: 2px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s ease, color 0.4s ease;
  font-size: 20px;
}
.tabSelected {
  color: rgb(255, 98, 0);
}
.tab:hover {
  color: rgb(255, 98, 0);
}
.searchContainer {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.searchElement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.searchList {
  position: absolute;
  right: 0;
  top: 100%;
  max-height: 500px;

  overflow-y: auto;
  z-index: 10;
}
.hide-search-list {
  display: none;
}
.searchElement .addInput {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  outline: none;
  color: rgb(44, 44, 44);
  width: 350px;
}
.searchList .searchItem {
  background-color: #2d2d2d;
  padding: 0.3rem;
  width: calc(350 - 8px);
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.search-list-item {
  border-bottom: 1px solid black;
  background-color: #2d2d2d;
  padding: 0.4rem;
  width: calc(350 - 8px);
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.searchList .searchItem:hover {
  background-color: #1f1f1f;
}
.searchItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.itemInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.itemThumbnail {
  width: 80px;
}
.top {
  font-family: "Bungee Spice", "Bungee", system-ui, sans-serif;
  font-size: 60px;
  color: white;
  margin-top: 40px;
}

.addInput {
  margin-top: 20px;
  height: 30px;
  border: none;
  outline: none;
}
.searchElement .addInput {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  outline: none;

  width: 300px;
}

main {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: space-around;
}
.boxContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.box {
  border-radius: 20px;
  height: 510px;
  width: 310px;
  padding: 10px;
  margin: 10px;
  margin-top: 30px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #c3c3c3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, box-shadow 0.3s;
}
.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.boxName {
  color: black;
  font-size: 21px;
}
.movieImage {
  border-radius: 15px;
  width: 275px;
}
.stars {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.notes {
  font-size: 18px;
  margin-top: 10px;
  padding: 8px;
  border-radius: 10px;
  background-color: white;
}
.notes:hover {
  cursor: pointer;
  color: red;
}

.modalBody {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 760px;
  height: 690px;
  background-color: rgb(37, 37, 37);
  border: 5px solid rgb(255, 48, 48);
  border-radius: 10px;
}

.modalName {
  margin-left: 50px;
  padding: 10px;
  font-size: 40px;
  position: sticky;
  color: white;
}

.modalExit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  cursor: pointer;
}
.modalType {
  text-align: center;
  text-align-last: center;
  width: 90px;
  padding: 3px;
  background: none;
  color: white;
  border: none;
  border: 1px solid white;
  font-size: 13px;
  cursor: pointer;
}
.modalType option {
  background-color: #1f1f1f;
}
.modalTypeNone {
  pointer-events: none;
  appearance: none;
  cursor: auto;
  border: none;
  border-bottom: 1px solid white;
}

.modalMain {
  display: flex;
}
.mainLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainRight {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.modalStars {
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  display: flex;
}
.stars {
  font-size: 40px;
  cursor: pointer;
  color: white;
}
.starsClicked {
  font-size: 40px;
}
.cardStars {
  font-size: 26px;
}
.modalNotes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 200px;
  width: 300px;
  font-size: 20px;
  border-radius: 10px;
  margin: 20px;
}
.modalDone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  top: 90px;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}
.modalDone:hover {
  color: white;
  background-color: rgb(0, 123, 255);
  transition: color 0.3s ease;
}
.modalDelete:hover {
  color: white;
  background-color: red;
  transition: color 0.3s ease;
}
.modalDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  top: 90px;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}
.modalImageBox {
  margin: 20px;
}
.modalImage {
  border-radius: 10px;
  width: 250px;
  display: block;
}
.imageUrl {
  padding: 10px;
  border-radius: 4px;
  border: 2px solid white;
}
.modalHeader {
  width: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 600px) {
  .top {
    font-size: 30px;
    font-family: "Bungee Spice", "Bungee", system-ui, sans-serif;
  }
  .tabsContainer {
    justify-content: center;
    margin-top: 20px;
    width: 100px;
  }
  .tab {
    font-size: 12px;
  }
  .modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 650px;
    background-color: rgb(37, 37, 37);
    border: 3px solid rgb(255, 48, 48);
    border-radius: 10px;
  }
  .modalName {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-left: 0px;
    padding: 10px;
    width: 360px;
  }
  .modalMain {
    display: flex;
    flex-direction: column;
  }
  .modalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .modalNotes {
    width: 200px;
    font-size: 20px;
    height: 150px;
  }
  .modalImage {
    border-radius: 10px;
    width: 150px;
    display: block;
  }
  .modalImageBox {
    margin: 0px;
  }
  .stars {
    font-size: 20px;
    cursor: pointer;
    color: white;
  }
  .modalDone {
    height: 20px;
    width: 50px;
  }
  .modalExit {
    width: 20px;
  }
  .modalDelete {
    width: 50px;
    height: 20px;
  }
}
